
<p class="placeholder-wave mt-2" style="color:#DD9866">
    <span class="placeholder col-12"></span>
</p>
<div class="list-group font-monospace col-md-7" style="margin:0 auto;">
    <a asp-asp-controller="Home" asp-action="FindBusTicket" class="list-group-item list-group-item-action mt-3">
        <div class="d-flex">
            <img src="~/images/bus.png" class="img-fluid me-3 ms-3 " style="height:50px" />
            <h5 class="mt-2">Bus Ticket</h5>
        </div>
    </a>
    <a href="https://www.tripadvisor.com/" target="_blank" class="list-group-item list-group-item-action mt-3">
        <div class="d-flex">
            <img src="~/images/hotel.png" class="img-fluid me-3 ms-3 " style="height:50px" />
            <h5 class="mt-2">Hotel</h5>
        </div>
    </a>
    <a href="https://www.momondo.com/car-rental?lang=en&skipapp=true&gclid=Cj0KCQiA-JacBhC0ARIsAIxybyNPSc2setg8Qos7ttqcxaFGY_5ErbTBI5YT__EXainf0vEmUCVPTvIaAsUDEALw_wcB&aid=147132180424" target="_blank" class="list-group-item list-group-item-action mt-3">
        <div class="d-flex">
            <img src="~/images/car.png" class="img-fluid me-3 ms-3 " style="height:50px" />
            <h5 class="mt-2">Rent a Car</h5>
        </div>
    </a>
    <a asp-controller="Home" asp-action="DestinationList" class="list-group-item list-group-item-action mt-3">
        <div class="d-flex">
            <img src="~/images/destination.png" class="img-fluid me-3 ms-3 " style="height:50px" />
            <h5 class="mt-2">Destinations</h5>
        </div>
    </a>
</div>
<p class="placeholder-wave mt-4" style="color:#DD9866">
    <span class="placeholder col-12"></span>
</p>
