@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="FindBusTicket">
    <div class="container-fluid p-0">
        <div class="row rounded-5 align-items-center bg_image" style="height:450px">
            <div class="row mt-3 d-flex justify-content-center">
                <div class="col-md-4">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="departureCity">
                            <option selected>Choose Departure City</option>
                            @foreach (var city in (List<City>)ViewBag.Cities)
                            {

                                <option value=@city.CityId>@city.CityName</option>
                            }
                        </select>
                        <label for="floatingSelect"><i class="bi bi-geo-alt-fill">From</i></label>
                    </div>
                    <div class="form-floating mt-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="arrivalCity">
                            <option selected>Choose Arrival City</option>
                            @foreach (var city in (List<City>)ViewBag.Cities)
                            {

                                <option value=@city.CityId>@city.CityName</option>

                            }
                        </select>
                        <label for="floatingSelect"><i class="bi bi-geo-alt-fill">To</i></label>
                    </div>
                    <div class="mt-3">
                        <label for="start" class="font-monospace fs-5">Departure</label>
                        <input class="font-monospace w-100 border-success" type="date" id="start" name="tripDate"
                               value="2023-08-20"
                               min="2022-01-01" max="2024-12-31">
                    </div>
                    <div class="col-form-label d-grid mx-auto mt-3">
                        <button class="btn font-monospace text-white" style="background-color:#DD9866" type="submit">Find Bus Ticket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <partial name="_Articles" />
</div>

@section Styles{
    <style>
        .bg_image {
            background-image: url('https://images.unsplash.com/photo-1606466123170-d39e5346aa76?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
}