<div class="container text-center font-monospace text-black mt-4">
    <div class="row">
        <div class="col">
            <h1 class="bi bi-wifi text-success"></h1>
            <p>
                Comfort on board
                Our buses are equipped with large and comfortable seats, a toilet, Wi-Fi and power outlets.
            </p>
        </div>
        <div class="col">
            <h1 class="bi bi-map text-success"></h1>
            <p>
                Largest bus network in Europe
                Choose from over 19 travel destinations in 14 countries and discover Europe.
            </p>
        </div>
        <div class="col">
            <h1 class="bi bi-brightness-high text-success"></h1>
            <p>

                Travel environmentally-friendly
                Our efficient coaches are proven to have an excellent carbon footprint per driven passenger-kilometer.
            </p>
        </div>
    </div>
</div>

<p class="placeholder-wave mt-2 text-success">
    <span class="placeholder col-12"></span>
</p>
<div class="row d-flex justify-content-center pt-3">
    <div class="col-md-8">
        <div class="row g-0 border rounded" style="background-color:#6D9886">
            <div class="col-md-6">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <img src="~/images/discover.jpg" class="img-fluid rounded-circle">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body text-center">
                    <h5 class="card-title display-6 font-monospace text-white">Discover all destinations</h5>
                    <p class="card-text font-monospace text-white-50"> Choose from over 10 travel destinations in 7 countries.</p>
                    <p class="card-text"><small class="text-white-50">Travel with Silkroad Buses for your comfort!</small></p>
                    <a asp-controller="Home" asp-action="Explore" class="btn font-monospace text-white" style="background-color:#DD9866">Explore the map</a>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="placeholder-wave mt-2 text-success pt-3">
    <span class="placeholder col-12"></span>
</p>
<div class="row d-flex justify-content-center mt-3">
    <div class="col-md-6">
        <div class="col-md-12">
            <p class="fs-3 font-monospace">Low-cost European bus travel</p>
            <p class="font-monospace">
                Take a trip throughout Europe in one of our green buses. Select a route from our extensive network!

                Are you planning backpacking trip in Europe? Want to take a last-minute trip to the city? Or a vacation with your loved ones? We'll take you from A to B at an unbeatable price. You can choose from Turkey, Spain, Germany, France, and many other countries on one of our bus trips! - SILKROAD offers the travel you want at the time you want it!

                Making it easy for you to get from A to B. You don't have to worry at all because of real-time bus stop information, up-to-date bus schedules, helpful staff, and friendly on-site bus drivers. You can plan your bus trip and jump on board feeling completely relaxed.
            </p>
        </div>
        <div class="col-md-12">
            <p class="fs-3 font-monospace">SilkRoad Service</p>
            <p class="font-monospace">
                Our goal is to provide you with a straightforward, cost-effective bus service.

                Low-cost bus tickets can be purchased online, or from the bus driver directly. Your ticket is your guarantee of a comfortable seat on board. On each of our buses, in addition to free Wi-Fi and plug sockets, our helpful bus drivers offer snacks and beverages. So you can browse the internet, watch movies, and stay connected throughout your trip.

                Save with SilkRoad! Save time and money with our detailed bus schedules and punctual buses, save the environment with bus travel being the most environmentally friendly mode of transportation, and save money with our unbeatable low prices on bus tickets.So whether you're traveling with SilkRoad to Berlin, Belgrade, Amsterdam, Madrid or Paris, you'll always travel green!
        </div>
    </div>
</div>
<hr />
<div class="row m-4">
    <p class="fs-3 font-monospace">Popular Cities</p>
    <div class="list-group col-md-4 font-monospace">
        <a href="https://en.wikipedia.org/wiki/Istanbul" target="_blank" class="list-group-item list-group-item-action list-group-item-info">Istanbul</a>
        <a href="https://en.wikipedia.org/wiki/Belgrade" target="_blank" class="list-group-item list-group-item-action list-group-item-light">Belgrade</a>
        <a href="https://en.wikipedia.org/wiki/Berlin" target="_blank" class="list-group-item list-group-item-action list-group-item-dark">Berlin</a>
    </div>
    <div class="list-group col-md-4 font-monospace">
        <a href="https://en.wikipedia.org/wiki/Amsterdam" target="_blank" class="list-group-item list-group-item-action list-group-item-info">Amsterdam</a>
        <a href="https://en.wikipedia.org/wiki/Paris" target="_blank" class="list-group-item list-group-item-action list-group-item-light">Paris</a>
        <a href="https://en.wikipedia.org/wiki/Madrid" target="_blank" class="list-group-item list-group-item-action list-group-item-dark">Madrid</a>
    </div>
    <div class="list-group col-md-4 font-monospace">
        <a href="https://en.wikipedia.org/wiki/Vienna" target="_blank" class="list-group-item list-group-item-action list-group-item-info">Vienna</a>
        <a href="https://en.wikipedia.org/wiki/Prague" target="_blank" class="list-group-item list-group-item-action list-group-item-light">Prague</a>
        <a href="https://en.wikipedia.org/wiki/Milan" target="_blank" class="list-group-item list-group-item-action list-group-item-dark">Milan</a>
    </div>
</div>