@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="d-flex justify-content-center m-3">
        <img src="~/img/trending.png" style="width:50px; height:50px" />
        <h6 class="display-6"> TRENDING ARTICLES</h6>
    </div>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 p-4">
                <h4>@item.Title</h4>
                <h6>@item.Summary</h6>
                <p><small class="text-muted">@item.CreatedOn</small></p>
                <a asp-controller="Home" asp-action="ReadMore" asp-route-slug=@item.Slug class="btn btn-outline-secondary">Read More</a>
            </div>
        }
    </div>

    <hr />

    <div class="d-flex">
        <div class="col-md-8">
            <div class="d-flex justify-content-center m-3">
                <img src="~/img/lastAdded.png" style="width:50px; height:50px" />
                <h6 class="display-6"> MOST RECENTLY ADDED</h6>
            </div>
            @foreach (var item in (List<Post>)ViewBag.AllPosts)
            {
                @await Html.PartialAsync("_Post", item)

            }
        </div>
        <div class="col-md-4">
            <h6 class="display-6 m-3">DISCOVER MORE</h6>       
            @await Component.InvokeAsync("Categories")
        </div>
    </div>
</div>





