@model Product
<div class="card mb-3">
    <div class="row">
        <div class="col-md-2 ps-3">
            <img src="~/images/@Model.ImageUrl" class="p-2">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title pb-2 display-6">@Model.Name</h5>
                <p class="card-text">@Model.Properties</p>
                <p class="card-muted">@Model.Price</p>
            </div>
            <div class="card-footer bg-white">
                <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Index">Return</a>
                <a href="#" class="btn btn-success btn-sm">Add to Card</a>
            </div>
        </div>
    </div>
</div>
