@model List<Post>
@section Styles{
    @await Html.PartialAsync("_DataTablesCSSPartial")
}
@section Scripts{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}

<h1 class="display-6 text-dark text-center">Posts</h1>
<span class="placeholder col-12 placeholder-xs mb-4 mt-4"></span>
<table class="table table-striped" id="myTable">
    <thead>
        <tr>
            <th scope="col" class="text-center">Image</th>
            <th scope="col" class="text-center">Id</th>
            <th scope="col" class="text-center">Title</th>
            <th scope="col" class="text-center">Summary</th>
            <th scope="col" class="text-center">Is Published?</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <th>
                    <img src="~/img/@post.ImageUrl" width="100px">
                </th>
                <td>@post.Id</td>
                <td>@post.Title</td>
                <td>@post.Summary</td>
                <td>
                    <form id="isPublishedForm_@post.Id"
                      asp-controller="Admin"
                      asp-action="UpdateIsPublished"
                      asp-route-id=@post.Id
                      method="post">
                        <div class="form-check form-switch d-flex justify-content-center">
                            <input class="form-check-input opacity-75" type="checkbox" role="switch" name="isPublished" onchange="document.getElementById('isPublishedForm_@post.Id').submit()" id="isPublished_@post.Id" @(post.IsPublished ? "checked" : "")>
                            <label class="form-check-label" for="isPublished"></label>
                        </div>
                    </form>
                </td>
                
                <td>
                    <a asp-controller="Admin" asp-action="PostEdit" asp-route-id=@post.Id class="btn btn-sm text-white" style="background-color:#6D9886">Edit</a>
                    <!-- Button Trigger Modal -->
                    <button type="button" class="btn btn-sm text-white" style="background-color:#810000" data-bs-toggle="modal" data-bs-target="#deleteModal_@post.Id">
                        Delete
                    </button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal_@post.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" style="color:#810000" id="deleteModalLabel">Are you sure you want to delete this item <strong>permanently</strong>?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    This post will be deleted. Do you want to delete this post?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    <a asp-controller="Admin"
                                   asp-action="PostDelete"
                                   asp-route-id=@post.Id
                                   type="button" class="btn text-white" style="background-color:#810000">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
