@model BusModel

<h1 class="font-monospace fs-2 mt-4 text-center" style="color:#6D9886">Edit Bus</h1>
<p class="placeholder-wave mt-2 pe-3" style="color:#6D9886">
    <span class="placeholder col-12"></span>
</p>
<form asp-controller="Admin" asp-action="BusEdit" method="post">
    <input type="hidden" name="BusId" value="@Model.BusId" />
    <div class="row font-monospace">
        <div class="input-group row mt-2">
            <div class="col-md-4">
                <label asp-for="BusName" class="input-group-text"></label>
            </div>
            <div class="col-md-8 p-0">
                <input type="text" asp-for="BusName" class="form-control" />
            </div>
            <span asp-validation-for="BusName" class="text-danger"></span>
        </div>
    </div>
    <div class="row font-monospace">
        <div class="input-group row mt-2">
            <div class="col-md-4">
                <label asp-for="Capacity" class="input-group-text"></label>
            </div>
            <div class="col-md-8 p-0">
                <input type="number" asp-for="Capacity" class="form-control" max="39" min="20"/>
            </div>
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
    </div>
    <div class="font-monospace text-center">
        <button type="submit" class="mt-4 btn text-white" style="background-color:#6D9886; width:450px">Save</button>
    </div>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}