@model CityModel

<h1 class="font-monospace fs-2 mt-4 text-dark text-opacity-50 text-center">Create New City</h1>
<p class="placeholder-wave mt-3 pe-3" style="color:#DD9866">
    <span class="placeholder col-12"></span>
</p>
<form asp-controller="Admin" asp-action="CityCreate" method="post">
    <div class="row font-monospace">       
        <div class="input-group row mt-2">
            <div class="col-md-4">
        <label asp-for="CityName" class="input-group-text"></label>
            </div>
            <div class="col-md-8 p-0">
                <input type="text" asp-for="CityName" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="CityName" class="text-danger"></span>       
    </div>
    <div class="font-monospace text-center">
        <button type="submit" class="mt-4 btn text-white" style="background-color:#DD9866; width:450px">Add City</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}