@model CityModel

<h1 class="font-monospace fs-2 mt-4 text-center" style="color:#6D9886">Edit City</h1>
<p class="placeholder-wave mt-2 pe-4" style="color:#6D9886">
    <span class="placeholder col-12"></span>
</p>
<form asp-controller="Admin" asp-action="CityEdit" method="post">
    <input type="hidden" name="CityId" value="@Model.CityId" />

    <div class="row font-monospace">
        <div class="input-group row mt-2">
            <div class="col-md-4">
                <label asp-for="CityName" class="input-group-text"></label>
            </div>
            <div class="col-md-8">
                <input type="text" asp-for="CityName" class="form-control"/>
            </div>
            <span asp-validation-for="CityName" class="text-danger"></span>
        </div>     
    </div>
    <div class="font-monospace text-center">
        <button type="submit" class="mt-4 btn text-white" style="background-color:#6D9886; width:450px">Save</button>
    </div>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}